<div class="container">
    <img src="~/imagens/faleconosco1.jpg"/>
    <div class="jumbotron">
        <p>Fale Conosco</p>
        <p>
            <span>
                <img src="~/imagens/Envelope.png"/>
            </span>
            <h5><email endereco="laurengoncalves.dev@gmail.com" conteudo="Enviar e-mail"></email></h5>
            <br/>
            <span>
                <img src="~/imagens/phone.png"/>
            </span>
            <h5>(53) 984785801</h5>
            <span>
                <img src="~/imagens/home.png"/>
            </span>
            <h5>Pelotas/RS</h5>
        </p>
    </div>
</div>